.navigation {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 15px;
}

.destinations-menu,
.delay-menu,
.search-menu {
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
}

.destinations-menu {
    grid-row: 1 / -1;
}

.delay-menu {
    margin-right: 28px;
    margin-top: 5px;
    margin-left: auto;
}

.search-menu {
    margin-left: auto;
    margin-right: 0;
}

.button {
    background: none;
    border: none;
    color: $darkgray;
    font-size: 52px;
    font-weight: 700;
    outline: none;

    &:focus {
        box-shadow: 0 -2px 0 0 $red inset;
    }

    &:hover {
        color: $red;
        cursor: pointer;
        
    }

    &:active {
        transform: translate(1px, 1px);
        box-shadow: none;
    }

    &--active {
        color: #fff;
        background-color: $red;
    }

    &--active:hover {
        color: #fff;
    }
}

.destinations-menu__departure {
    margin-right: 30px;
}

.destinations-menu__arrival {
    
}

.search-menu__button {
    margin-left: 0;
    margin-right: 0;
    
    height: 26px;
    width: 26px;
    background: url('../img/searcher.svg') no-repeat;
}

.search-menu__button {
    margin-bottom: -5px;

    &:focus {
        box-shadow: none;
    }    
}

.search-menu__input {
    min-width: 250px;
    height: 28px;
    flex-grow: 1;
    margin-right: 5px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    font-size: 16px;
    color: $darkgray;
    font-weight: 500;
    text-transform: uppercase;

    &:focus {
        box-shadow: 0 -2px 0 0 $red inset;
        border-bottom: none;
    }
    
    &::placeholder {
        color: rgb(142, 142, 142);
        font-size: 18px;
        font-weight: 200;
        text-transform: none;
    }
}

.delay-menu__checkbox {
    display: none;

    &:checked + .delay-menu__label {
        color: $red;
    }

    &:checked + .delay-menu__label::before {
       border-top: none;
       border-right:none;
       height: 8px;
       border-color: $red;
       transform: rotate(-45deg);
    }   
}

.delay-menu__label {
    position: relative;
    padding-left: 25px;
    text-transform: lowercase;

    &:hover {
        color: $red;
        cursor: pointer;
    }

    &::before {
        content: '';
        left: 0;
        top: 1px;
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        border: 2px solid rgb(206, 205, 205);
        transition: height 0.2s linear, transform 0.2s linear;
    }

    &:hover::before {
        border-color: $red;
    }

}

