$lightgray: rgba(140, 140, 140, 0.1);
$red: #fc0d1b;
$darkgray: rgb(45, 45, 45);

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.content-box {
    box-sizing: content-box;
}

.page {
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: Helvetica, 'Times New Roman', Times, serif;
}